Requirements:

python 3 -	 	Used in development: 3.5
tensorflow - 	Used in development: 1.1
hdf5 -			Used in development: 1.8.18
keras - 	 	Used in development: 2.0.2
numpy -		 	Used in development: 1.12.1
scipy -		 	Used in development: 0.19.1
cython-			Used in development: 0.25.2
spacy -		 	Used in development: 1.8.2
nltk - 			Used in development: 3.2.4
scikit-learn -  Used in development: 0.18.2

A simple conda (preferably with conda-forge) or pip install will suffice for all the above, taking care of any prerequisites.

